

.bg-light {
    background-color: #fbfdff!important;
}

.nav-link{
    color: #100f0f!important;
}

.cor-contador{
   color: #28a745; 
}

.container {
    max-width: 960px;
}

.lh-condensed {
    line-height: 1.25;
}

