@model AppModelo.Dto.ModeloDto


@{
    ViewData["Title"] = "Editar";
}


<div class="container">
    <div class="row">

        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Editar Genérico</h4>
            <form class="needs-validation" novalidate method="post" enctype="multipart/form-data" asp-controller="Modelo" asp-action="Editar">
                <input type="hidden" asp-for="Id" />
                <partial name="_Cadastro" />
            </form>
        </div>
    </div>
</div>

